@import '~bootstrap/scss/bootstrap';

.min-h-100vh{
    min-height:100vh !important;
}

//object fit
.object-fit-cover{
    object-fit: cover !important;
}
//object-position
.object-position-center{
    object-position: center !important;
}